// Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
  withName:"PREPROCESSING:MERGE" {
    container = 'ghcr.io/robomics/chrom3d-nf/py-utils:1.1.0'
  }
  withName:"PREPROCESSING:DUMP_CHROM_SIZES" {
    container = 'ghcr.io/robomics/chrom3d-nf/hictk:2.1.4'
  }
  withName:"PREPROCESSING:DUMP_BINS" {
    container = 'ghcr.io/robomics/chrom3d-nf/hictk:2.1.4'
  }
  withName:"PREPROCESSING:MAKE_BEAD_GTRACK" {
    container = 'ghcr.io/robomics/chrom3d-nf/py-utils:1.1.0'
  }
  withName:"PREPROCESSING:CHANGE_PLOIDY" {
    container = 'ghcr.io/robomics/chrom3d-nf/py-utils:1.1.0'
  }
}
