// Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
  withName:"GENERATE_SEEDS" {
    container = 'ghcr.io/robomics/chrom3d-nf/py-utils:1.1.0'
  }
  withName:"SIMULATE" {
    container = 'ghcr.io/robomics/chrom3d-nf/chrom3d:1.0.2-patched'
  }
  withName:"ARCHIVE" {
    container = 'ghcr.io/robomics/chrom3d-nf/utils:1.0.0'
  }
}
