// Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
    withName:"NCHG_CIS:GENERATE_MASK" {
        container = 'ghcr.io/paulsengroup/nchg-nf/py-utils:1.0.0'
    }
    withName:"NCHG_CIS:GENERATE_CHROMOSOME_PAIRS" {
        container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:0.0.5'
    }
    withName:"NCHG_CIS:DUMP_CHROM_SIZES" {
        container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:0.0.5'
    }
    withName:"NCHG_CIS:COMPUTE" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_CIS:MERGE" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_CIS:FILTER" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_CIS:VIEW" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_CIS:EXPECTED" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_CIS:PLOT_EXPECTED" {
        container = 'ghcr.io/paulsengroup/nchg-nf/plotting:1.0.0'
    }
    withName:"NCHG_CIS:GET_HIC_PLOT_RESOLUTION" {
        container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:0.0.5'
    }
    withName:"NCHG_CIS:PLOT_SIGNIFICANT" {
        container = 'ghcr.io/paulsengroup/nchg-nf/plotting:1.0.0'
    }

    withName:"NCHG_TRANS:GENERATE_MASK" {
        container = 'ghcr.io/paulsengroup/nchg-nf/py-utils:1.0.0'
    }
    withName:"NCHG_TRANS:GENERATE_CHROMOSOME_PAIRS" {
        container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:0.0.5'
    }
    withName:"NCHG_TRANS:DUMP_CHROM_SIZES" {
        container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:0.0.5'
    }
    withName:"NCHG_TRANS:COMPUTE" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_TRANS:MERGE" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_TRANS:FILTER" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_TRANS:VIEW" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_TRANS:EXPECTED" {
        container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.2'
    }
    withName:"NCHG_TRANS:PLOT_EXPECTED" {
        container = 'ghcr.io/paulsengroup/nchg-nf/plotting:1.0.0'
    }
    withName:"NCHG_TRANS:GET_HIC_PLOT_RESOLUTION" {
        container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:0.0.5'
    }
    withName:"NCHG_TRANS:PLOT_SIGNIFICANT" {
        container = 'ghcr.io/paulsengroup/nchg-nf/plotting:1.0.0'
    }
}
