// Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
  container = 'ghcr.io/paulsengroup/nchg-nf/utils:1.0.0'

  withName: 'NCHG.*:GENERATE_MASK' {
    container = 'ghcr.io/paulsengroup/nchg-nf/py-utils:1.1.0'
  }
  withName: 'NCHG.*:GENERATE_CHROMOSOME_PAIRS' {
    container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:1.3.0'
  }
  withName: 'NCHG.*:DUMP_CHROM_SIZES' {
    container = 'ghcr.io/paulsengroup/nchg-nf/hictk:2.1.4'
  }
  withName: 'NCHG.*:PREPROCESS_DOMAINS' {
    container = 'ghcr.io/paulsengroup/nchg-nf/py-utils:1.1.0'
  }
  withName: 'NCHG.*:CARTESIAN_PRODUCT' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:COMPUTE' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:MERGE' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:FILTER' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:CONCAT' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:VIEW' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:EXPECTED' {
    container = 'ghcr.io/paulsengroup/nchg-nf/nchg:0.0.4'
  }
  withName: 'NCHG.*:PLOT_EXPECTED' {
    container = 'ghcr.io/paulsengroup/nchg-nf/plotting:1.1.0'
  }
  withName: 'NCHG.*:GET_HIC_PLOT_RESOLUTION' {
    container = 'ghcr.io/paulsengroup/nchg-nf/hictkpy:1.3.0'
  }
  withName: 'NCHG.*:PLOT_SIGNIFICANT' {
    container = 'ghcr.io/paulsengroup/nchg-nf/plotting:1.1.0'
  }
}
